/* Falcon image section - full height above menu */
.falcon-header {
  background-image: url('/images/falcon-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1600px auto;
  min-height: 300px;
  position: relative;
}

@media (max-width: 767px) {
  header {
    background-size: 768px auto;
    min-height: 300px;
  }
}

@media (max-width: 360px) {
  header {
    background-size: 360px auto;
    min-height: 300px;
  }
}

